[Unit]
Description=pc daemon
Requires=pc.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ali/pc/backend
ExecStart=/home/ali/pc/backend/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/pc.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
